<%- include('partials/header.ejs') %>
    <%- include('partials/navbar.ejs') %>
        <br>
        <div class="container">
            <% showAll.forEach(showAll=> { %>
                <div class="card">
                    <div class="card-body">
                        <h5>
                            <%= showAll.title%> =>
                                <%= showAll.description %>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <a href="/questions/<%= showAll.id %>><button class=" btn btn-primary">Answer</button></a>
                    </div>
                </div>
                <% }) %>
        </div>
        </body>
        <%- include('partials/footer.ejs') %>