<%- include('partials/header'); %>

    <body>

        <%- include('partials/navbar'); %>
            <div class="container">
                <h1>
                    <%=questions.title%>
                </h1>
                <hr>
                <%=questions.description%>
                    <hr>

            </div>
    </body>
    <%- include('partials/footer'); %>